<h3>
   <span translate="currency-edit.label.edit">
      New User
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="currencyForm">
   <div class="form-group"
        ng-class="{'has-success':andOperator(currencyForm.startDate.$valid,currencyForm.startDate.$dirty),
               'has-error':andOperator(currencyForm.startDate.$invalid,currencyForm.startDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-edit.label.startDate">Start Date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="startDate" 
                required="true"
                ng-attr-placeholder="{{'currency-edit.label.startDate'|translate}}"
                ng-model="currency.startDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(currencyForm.startDate.$error.required, currencyForm.startDate.$dirty)"
            translate="currency-edit.validator.startDate.required">Start date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(currencyForm.finishDate.$valid,currencyForm.finishDate.$dirty),
               'has-error':andOperator(currencyForm.finishDate.$invalid,currencyForm.finishDate.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-edit.label.finishDate">Finish date</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="finishDate" 
                required="true"
                ng-attr-placeholder="{{'currency-edit.label.finishDate'|translate}}"
                ng-model="currency.finishDate"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(currencyForm.finishDate.$error.required, currencyForm.finishDate.$dirty)"
            translate="currency-edit.validator.finishDate.required">Finish date is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(currencyForm.provision.$valid,currencyForm.provision.$dirty),
               'has-error':andOperator(currencyForm.provision.$invalid,currencyForm.provision.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-edit.label.provision">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="provision" 
                required="true"
                ng-attr-placeholder="{{'currency-edit.label.provision'|translate}}"
                ng-model="currency.provision"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(currencyForm.provision.$error.required, currencyForm.provision.$dirty)"
            translate="currency-edit.validator.provision.required">Provison is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(currencyForm.installment.$valid,currencyForm.installment.$dirty),
               'has-error':andOperator(currencyForm.installment.$invalid,currencyForm.installment.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-edit.label.installment">Installment</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="installment" 
                required="true"
                ng-attr-placeholder="{{'currency-edit.label.installment'|translate}}"
                ng-model="currency.installment"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(currencyForm.installment.$error.required, currencyForm.installment.$dirty)"
            translate="currency-edit.validator.installment.required">Installment is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(currencyForm.rateOfInterest.$valid,currencyForm.rateOfInterest.$dirty),
               'has-error':andOperator(currencyForm.rateOfInterest.$invalid,currencyForm.rateOfInterest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-edit.label.rateOfInterest">Rate Of Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="rateOfInterest" 
                required="true"
                ng-attr-placeholder="{{'currency-edit.label.rateOfInterest'|translate}}"
                ng-model="currency.rateOfInterest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(currencyForm.rateOfInterest.$error.required, currencyForm.rateOfInterest.$dirty)"
            translate="currency-edit.validator.rateOfInterest.required">Rate Of Interest is required</p>
      </div>
   </div>
   
      <div class="form-group" 
   		ng-class="{'has-success':andOperator(currencyForm.interest.$valid,currencyForminterest.$dirty),
               'has-error':andOperator(currencyForm.interest.$invalid,currencyForm.interest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-edit.label.interest">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="interest" 
                required="true"
                ng-attr-placeholder="{{'currency-edit.label.interest'|translate}}"
                ng-model="currency.interest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(currencyForm.interest.$error.required, currencyForm.interest.$dirty)"
            translate="currency-edit.validator.interest.required">Interest is required</p>
      </div>
   </div>
   
   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="currency-edit.label.insurance">Insurance</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="insurance" 
                ng-model="currency.insurance"
         ></input>
      </div>
   </div>

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'currency-edit.button.save'|translate}}"
                 ng-click="saveCurrency)" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="currency-edit.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="currency.list" ng-attr-title="{{'currency-edit.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="currency-edit.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
