<h3>
   <span translate="credit-add.label.new">
      New Credit
   </span>
</h3>
<br/>
<form method="post" class="form-horizontal"
      role="form" action="..." name="creditForm">
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.type.$valid,creditForm.type.$dirty),
               'has-error':andOperator(creditForm.type.$invalid,creditForm.type.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.type">Type</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                required="true"
                ng-model="credit.type"
                >
            <option  value="house">{{'credit-add.type.house'|translate}}</option>
            <option  value="money">{{'credit-add.type.money'|translate}}</option>
            <option  value="car">{{'credit-add.type.car'|translate}}</option>
            <option  value="study">{{'credit-add.type.study'|translate}}</option>
         </select>
         
         <p class="error text-danger"
            ng-show="andOperator(creditForm.type.$error.required, creditForm.type.$dirty)"
            translate="credit-add.validator.type.required">Type is required</p>
      </div>
   </div>
   <div class="form-group"
        ng-class="{'has-success':andOperator(creditForm.contribution.$valid,creditForm.contribution.$dirty),
               'has-error':andOperator(creditForm.contribution.$invalid,creditForm.contribution.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.contribution">contribution</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="contribution" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.contribution'|translate}}"
                ng-model="credit.contribution"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.contribution.$error.required, creditForm.contribution.$dirty)"
            translate="credit-add.validator.contribution.required">contribution is required</p>
      </div>
   </div>
   
   <div class="form-group"
        ng-class="{'has-success':andOperator(creditForm.minValue.$valid,creditForm.minValue.$dirty),
               'has-error':andOperator(creditForm.minValue.$invalid,creditForm.minValue.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.minValue">minValue</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="minValue" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.minValue'|translate}}"
                ng-model="credit.minValue"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.minValue.$error.required, creditForm.minValue.$dirty)"
            translate="credit-add.validator.minValue.required">minValue is required</p>
      </div>
   </div>
  
   <div class="form-group"
        ng-class="{'has-success':andOperator(creditForm.maxValue.$valid,creditForm.maxValue.$dirty),
               'has-error':andOperator(creditForm.maxValue.$invalid,creditForm.maxValue.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.maxValue">maxValue</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="text"
                class="form-control"
                name="maxValue" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.maxValue'|translate}}"
                ng-model="credit.maxValue"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.maxValue.$error.required, creditForm.maxValue.$dirty)"
            translate="credit-add.validator.maxValue.required">maxValue is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.provision.$valid,creditForm.provision.$dirty),
               'has-error':andOperator(creditForm.provision.$invalid,creditForm.provision.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.provision">Provision</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="provision" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.provision'|translate}}"
                ng-model="credit.provision"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.provision.$error.required, creditForm.provision.$dirty)"
            translate="credit-add.validator.provision.required">Provison is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.installment.$valid,creditForm.installment.$dirty),
               'has-error':andOperator(creditForm.installment.$invalid,creditForm.installment.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.installment">Installment</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="installment" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.installment'|translate}}"
                ng-model="credit.installment"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.installment.$error.required, creditForm.installment.$dirty)"
            translate="credit-add.validator.installment.required">Installment is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.interest.$valid,creditForminterest.$dirty),
               'has-error':andOperator(creditForm.interest.$invalid,creditForm.interest.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.interest">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <input type="number"
                class="form-control"
                name="interest" 
                required="true"
                ng-attr-placeholder="{{'credit-add.label.interest'|translate}}"
                ng-model="credit.interest"
         ></input>
         <p class="error text-danger"
            ng-show="andOperator(creditForm.interest.$error.required, creditForm.interest.$dirty)"
            translate="credit-add.validator.interest.required">Interest is required</p>
      </div>
   </div>
   
   <div class="form-group" 
   		ng-class="{'has-success':andOperator(creditForm.currency.$valid,creditForm.currency.$dirty),
               'has-error':andOperator(creditForm.currency.$invalid,creditForm.currency.$dirty)}">
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.currency">Interest</label>
         <label>
            <span class="text-danger">*</span>
         </label>
      </span>
      <div class="col-sm-8">
         <select class="form-control"
                required="true"
                ng-model="credit.currencyId"
                >
            <option ng-repeat="currency in currencys" value="{{currency.currencyId}}">{{currency.symbol}}</option>
         </select>
         
         <p class="error text-danger"
            ng-show="andOperator(creditForm.currency.$error.required, creditForm.currency.$dirty)"
            translate="credit-add.validator.currency.required">Currency is required</p>
      </div>
   </div>
   
   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.changingRate">Changing Rate</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="changingRate" 
                ng-model="credit.changingRate"
         ></input>
      </div>
   </div>
   
   <div class="form-group" >
      <span class="col-sm-2 text-right">
         <label for="option" class=" control-label"
                translate="credit-add.label.insurance">Insurance</label>
      </span>
      <div class="col-sm-1">
         <input type="checkbox"
                class="form-control left"
                name="insurance" 
                ng-model="credit.insurance"
         ></input>
      </div>
   </div>
   
   

   <div class="row">
      <div class="col-md-11">
         <button type="button"  
                 class="btn btn-primary btn-lg pull-right" 
                 ng-attr-title="{{'credit-add.button.save'|translate}}"
                 ng-click="saveCredit()" 
                 ng-disabled="questionnaireTemplateForm.$invalid">

            <i class="fa fa-save"></i>
            <span translate="credit-add.button.save">Save</span>
         </button>
      </div>
      <div class="col-md-1">  
         <a ui-sref="credit.list" ng-attr-title="{{'credit-add.button.cancel'|translate}}" class="btn btn-default pull-right">
            <i class="fa fa-undo"></i>
            <span translate="credit-add.button.cancel">Cancel</span>
         </a>
      </div>
   </div>
</form>
