<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      ng-app="bank">
   <head>
      <title translate="index-html.appName">BANK</title>
      <meta charset="utf-8" />
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	  <link media="screen"
            rel="stylesheet"
            th:href="@{/webjars/font-awesome/4.4.0/css/font-awesome.min.css}" />
      <link media="screen"
            rel="stylesheet"
            th:href="@{/webjars/bootswatch-spacelab/3.2.0/css/bootstrap.min.css}" />
      <link media="screen"
            rel="stylesheet"
            th:href="@{/webjars/angularjs-toaster/0.4.7/toaster.css}" />
      <link media="screen"
      		rel="stylesheet"
      	    th:href="@{webjars/ng-tags-input/2.3.0/ng-tags-input.min.css}"/>
      <link media="screen"
      		rel="stylesheet"
      	    th:href="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.bootstrap.min.css}"/>      
      <link media="screen"
      		rel="stylesheet"
      	    th:href="@{/webjars/angular-bootstrap-datetimepicker/0.3.8/css/datetimepicker.css}"/>      
      <link media="screen"
            rel="stylesheet"
            th:href="@{/css/main.css}"/>
      <link rel="shortcut icon"
            type="image/x-icon"
            th:href="@{/img/favicon.png}"/>
      
   </head>
   <body>

      <header ui-view="navbar"></header>
      
      <div class="container-fluid view-container" style="width:80%">
         <div class="loadingBar text-center">
            <div ng-show="loadingView">
               <i class="fa fa-spinner fa-pulse"></i>
               <span class="text-lowercase" translate="index-html.loading">
                  Loading...
               </span>
            </div>
         </div>
         <div ui-view="body" class="view-frame"></div>
      </div>


      <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}" />

      <script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" />
      <script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}" />
      <script th:src="@{/webjars/angularjs/1.4.3/angular.js}" />
      <script th:src="@{/webjars/angularjs/1.4.3/angular-resource.min.js}" />
      <script th:src="@{/webjars/angularjs/1.4.3/angular-route.min.js}" />
      <script th:src="@{/webjars/angularjs/1.4.3/angular-animate.min.js}" />
      <script th:src="@{/webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js}" />
      <script th:src="@{/webjars/angular-ui-router/0.2.15/angular-ui-router.min.js}" />
      <script th:src="@{/webjars/angular-multi-select/4.0.0/isteven-multi-select.js}" />
      <script th:src="@{/webjars/angularjs-toaster/0.4.7/toaster.js}" />
      <script th:src="@{/webjars/momentjs/2.7.0/min/moment.min.js}" />
      <script th:src="@{/webjars/stacktrace/0.6.0/stacktrace.js}" />
      <!--<script th:src="@{/webjars/angular-xeditable/0.1.9/js/xeditable.min.js}" />-->
      <script th:src="@{/webjars/angular-dateparser/1.0.9/angular-dateparser.min.js}" />
      <!--<script th:src="@{/webjars/angular-swagger-ui/0.1.3/dist/scripts/swagger-ui.js}" />-->
      <script th:src="@{/webjars/angular-cookies/1.4.3/angular-cookies.min.js}" />
      <script th:src="@{/webjars/angular-sanitize/1.4.3/angular-sanitize.min.js}" />
      <script th:src="@{/webjars/angular-translate/2.7.2/dist/angular-translate.min.js}" />
      <script th:src="@{/webjars/angular-translate-loader-partial/2.7.2/angular-translate-loader-partial.min.js}" />
      <!--<script th:src="@{/webjars/ng-tags-input/2.3.0/ng-tags-input.min.js}" />-->
      <script th:src="@{/webjars/angular-breadcrumb/0.4.0/dist/angular-breadcrumb.min.js}" />
      <script th:src="@{/webjars/angular-bootstrap-datetimepicker/0.3.8/js/datetimepicker.js}" />

      <script th:src="@{/js/app.js}" />
      <script th:src="@{/js/app.config.js}" />

      <script th:src="@{/js/date/date.service.js}" />

      <script th:src="@{/js/user/user-common.controller.js}" />
      <script th:src="@{/js/user/user-details.controller.js}" />
      <script th:src="@{/js/user/user-list.controller.js}" />
      <script th:src="@{/js/user/user-add.controller.js}" />
      <script th:src="@{/js/user/user-edit.controller.js}" />
      <script th:src="@{/js/user/user.route.js}" />
      <script th:src="@{/js/user/user.service.js}" />
      <script th:src="@{/js/user/loggedUser.service.js}" />

      <script th:src="@{/js/log/errorLog.service.js}" />
      <script th:src="@{/js/log/logToServerUtil.service.js}" />
      <script th:src="@{/js/log/logger.service.js}" />

      <script th:src="@{/js/sharedKernel/commonUtil.service.js}" />
      <script th:src="@{/js/sharedKernel/popup.service.js}" />
      <script th:src="@{/js/sharedKernel/languageFlag.directive.js}" />
      <script th:src="@{/js/sharedKernel/languageStorage.service.js}" />
      <script th:src="@{/js/sharedKernel/languageUtil.service.js}" />
      <script th:src="@{/js/sharedKernel/navbar.controller.js}" />
      <script th:src="@{/js/sharedKernel/sessionExpired-modal.controller.js}" />
      
      <script th:src="@{/js/credit/credit-common.controller.js}" />
      <script th:src="@{/js/credit/credit-details.controller.js}" />
      <script th:src="@{/js/credit/credit-list.controller.js}" />
      <script th:src="@{/js/credit/credit-add.controller.js}" />
      <script th:src="@{/js/credit/credit-edit.controller.js}" />
      <script th:src="@{/js/credit/credit.route.js}" />
      <script th:src="@{/js/credit/credit.service.js}" />
      
      <script th:src="@{/js/activecredit/activecredit-common.controller.js}" />
      <script th:src="@{/js/activecredit/activecredit-details.controller.js}" />
      <script th:src="@{/js/activecredit/activecredit-list.controller.js}" />
      <script th:src="@{/js/activecredit/activecredit-add.controller.js}" />
      <script th:src="@{/js/activecredit/activecredit-edit.controller.js}" />
      <script th:src="@{/js/activecredit/activecredit.route.js}" />
      <script th:src="@{/js/activecredit/activecredit.service.js}" />
      <script th:src="@{/js/activecredit/installment.service.js}" />
      
      <script th:src="@{/js/myaccount/myaccount-common.controller.js}" />
      <script th:src="@{/js/myaccount/myaccount-details.controller.js}" />
      <script th:src="@{/js/myaccount/myaccount-list.controller.js}" />
      <script th:src="@{/js/myaccount/myaccount-add.controller.js}" />
      <script th:src="@{/js/myaccount/myaccount-boost.controller.js}" />
      <script th:src="@{/js/myaccount/myaccount-edit.controller.js}" />
      <script th:src="@{/js/myaccount/myaccount.route.js}" />
      <script th:src="@{/js/myaccount/myaccount.service.js}" />
      
      <script th:src="@{/js/currency/currency-common.controller.js}" />
      <script th:src="@{/js/currency/currency-details.controller.js}" />
      <script th:src="@{/js/currency/currency-list.controller.js}" />
      <script th:src="@{/js/currency/currency-add.controller.js}" />
      <script th:src="@{/js/currency/currency-edit.controller.js}" />
      <script th:src="@{/js/currency/currency.route.js}" />
      <script th:src="@{/js/currency/currency.service.js}" />
      
      <script th:src="@{/js/transaction/transaction-list.controller.js}" />
      <script th:src="@{/js/transaction/transaction.route.js}" />
      <script th:src="@{/js/transaction/transaction.service.js}" />
   </body>
</html>
