<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Password</title>

      <meta charset="utf-8"/>
      <meta name="description" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link media="screen"
            rel="stylesheet"
            th:href="@{/webjars/bootswatch-spacelab/3.2.0/css/bootstrap.min.css}" />
      <link media="screen"
            rel="stylesheet"
            th:href="@{/webjars/font-awesome/4.4.0/css/font-awesome.min.css}" />
      <link media="screen"
            rel="stylesheet"
            th:href="@{/css/main.css}"/>
      <link media="screen"
            rel="stylesheet"
            href="../static/css/signin.css"
            th:href="@{/css/signin.css}"/>
      <link rel="shortcut icon"
            type="image/x-icon"
            th:href="@{/img/favicon.png}"/>
   </head>
   <body>

      <header>
         <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
       

               <div class="row">
                  <div class="navbar-collapse collapse">
                  </div>
               </div>
            </div>
         </nav>
      </header>

      <div class="container">
         <h2 th:text="${yourPassword}"></h2>
         <form name="form" th:action="@{/password}" method="POST" class="form-signin">
            <h2 class="form-signin-heading" th:text="#{global_application_name}">
               Login with Username and Password
            </h2>
            <div class="input-group">
               <span id="usernameAddon" class="input-group-addon">
                  <i class="fa fa-envelope-o fa-fw"></i>
               </span>
               <input type="text" name="username" class="form-control"
                      placeholder="username" 
                      th:placeholder="#{security_login_username}"
                      autofocus="true"/>
            </div>
            <br/>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Password"/>
         </form>
         
         <div class="row developmentAlert">
            <div class="col-md-offset-3 col-md-6">
               <p th:if="${auth_basic}" class="alert alert-warning">
                  You can use one of default accounts:<br/>
                  - <strong>mariusz.klysinski</strong> <br/>
                  - <strong>mateusz.glabicki</strong> 
               </p>
            </div>
         </div>
      </div>

      <script src="" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"/>
      <script src="" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"/>
   </body>
</html>
