<div class="row">
   <div class="col-md-9 col-xs-12">
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.contribution'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.contribution}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.minValue'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.minValue}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.maxValue'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.maxValue}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.interest'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.interest}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.insurance'|translate}}</label>
         <div class="col-md-4 col-xs-7">
            <span ng-if="credit.insurance"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span ng-if="!credit.insurance"><i class="fa fa-times" aria-hidden="true"></i></span>
         </div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.changingRate'|translate}}</label>
         <div class="col-md-4 col-xs-7">
            <span ng-if="credit.changingRate"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span ng-if="!credit.changingRate"><i class="fa fa-times" aria-hidden="true"></i></span>
         </div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.installment'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.installment}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.provision'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.provision}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'activeCredit-details.activeCredit.currency'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{credit.currency}}</div>
      </div>
      <div class="row">
         <h4 translate="activeCredit-details.activeCredit.installment"></h4>
         <div class="row row-header-bottom">
            <div class="hidden-xs col-md-3">{{'activeCredit-details.activeCredit.paiedAt'|translate}}</div>
            <div class="hidden-xs col-md-3">{{'activeCredit-details.activeCredit.finishDate'|translate}}</div>
            <div class="hidden-xs col-md-3">{{'activeCredit-details.activeCredit.amount'|translate}}</div>
            <div class="col-md-2"></div>
         </div>
         <div class="row row-custom" ng-repeat="installment in installments">
            <div class="col-xs-7 col-md-3">
               {{onlyDate(installment.paiedAt)}}
            </div>
            <div class="col-xs-7 col-md-3">
               {{onlyDate(installment.finishDate)}}
            </div>
            <div class="col-xs-7 col-md-3">
               {{installment.amount}}
            </div>
            <div class="col-md-2">
               <a 
                  ng-if="installment.active"
                  class="btn btn-primary"
                  ng-click="payInstallment(installment.installmentId)">
                  <i class="fa fa-check"></i>
                  <span class="hidden-xs" 
                        translate="activeCredit-details.activeCredit.pay" >
                     Pay
                  </span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>

