<h3>
   <span>
      {{'activeCredit-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-4">
      <h4 translate="activeCredit-list.label.count"
          translate-values="{count:'{{activeCredits.length}}'}"></h4>
   </div>
   <div class="col-md-4">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'activeCredit-list.label.loading'|translate}}</span>
      </div>
   </div>
   <!--   <div class="col-md-4">
         <a class="btn btn-success"
            ui-sref="activeCredit.add" >
            <i class="fa fa-plus-square"></i>
            <span class="hidden-xs" 
                  translate="activeCredit-list.label.add" >
               Create ActiveCredit
            </span>
         </a>
      </div>-->
</div>

<h4 class="text-center"
    ng-show="!activeCredits.length">
   {{'activeCredit-list.label.noData'|translate}}
</h4>

<div ng-show="activeCredits.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-3">{{'activeCredit-list.label.activeCredit.startDate'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'activeCredit-list.label.activeCredit.finishDate'|translate}}</div>
      <div class="col-md-2">{{'activeCredit-list.label.activeCredit.value'|translate}}</div>
      <div class="col-md-2">{{'activeCredit-list.label.activeCredit.toPay'|translate}}</div>
      <div class="col-md-2"></div>
   </div>
   <div class="row row-custom" ng-repeat="activeCredit in activeCredits">
      <div class="col-xs-7 col-md-3">
         <a ui-sref="activeCredit.common.details({id: activeCredit.activeCreditId, creditId: activeCredit.creditId})">
            {{onlyDate(activeCredit.startDate)}}
         </a>
      </div>
      <div class="col-xs-7 col-md-3">
         <a ui-sref="activeCredit.common.details({id: activeCredit.activeCreditId, creditId: activeCredit.creditId})">
            {{onlyDate(activeCredit.finishDate)}}
         </a>
      </div>
      <div class="col-md-2">
         {{activeCredit.value}}
      </div>
      <div class="col-md-2">
         {{activeCredit.toPay}}
      </div>
      <div class="col-md-2">
         <!--         <a class="btn btn-primary"
                     ui-sref="activeCredit.edit({id: activeCredit.activeCreditId})" >
                     <i class="fa fa-pencil-square-o"></i>
                     <span class="hidden-xs" 
                           translate="activeCredit-list.label.edit" >
                        ActiveCredit Edit
                     </span>
                  </a>-->
         <!--         <a ng-if="activeCredit.active"
                     class="btn btn-success"
                     ng-click="finishActiveCredit(activeCredit.activeCreditId)">
                     <i class="fa fa-check-square-o"></i>
                     <span class="hidden-xs" 
                           translate="activeCredit-list.label.finish" >
                        Finish activeCredit
                     </span>
                  </a>-->
         <!--         <a 
                     class="btn btn-danger"
                     ng-click="deleteActiveCredit(activeCredit.activeCreditId)">
                     <i class="fa fa-times"></i>
                     <span class="hidden-xs" 
                           translate="activeCredit-list.label.delete" >
                        ActiveCredit delete
                     </span>
                  </a>-->
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'activeCredit-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
